<template>
  <section class="domain">
    <p v-if="isBit">You are using the cool decentralized DNS!</p>
    <p v-else>You are using a lame old DNS. This blog is here to help you fix that!</p>
  </section>
</template>

<script>
export default {
  name: "Domain",
  props: {
    msgTrue: String,
    msgFalse: String
  },
  data () {
    return {
      domain: '',
      isBit: false
    }
  },
  mounted: function() {
    var url = window.location.hostname.split('.');
    this.domain = url[url.length - 1];
    if (this.domain.indexOf('bit') > -1) {
      this.isBit = true;
    }
  }
}
</script>
